<% unless flash.now[:errors].nil? %>
  <% flash.now[:errors].each do |error| %>
    <h1 class="error-text"><%= error %></h1>
  <% end %>
<% end %>

<h1>Create Subsploot</h1>

<form class="sign-in-form" action="<%= subreddits_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="title">Title</label>
  <input id="title" type="text" name="subreddit[title]" value="">
  <br>
  <label for="description">Description</label>
  <input id="description" type="text" name="subreddit[description]" value="">

  <% end %>

  <input class="submit-button" type="submit" value="Create Subsploot">
</form>
