<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |error| %>
    <h2><%= error %></h2>
  <% end %>
<% end %>

<h2>Sign Up</h2>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token"
      value="form_authenticity_token">
  <label for="username">Username</label>
  <input type="text" name="user[username]" value="">
  <label for="password">Password</label>
  <input type="password" name="user[username]" value="">
  <input type="submit" name="" value="Sign Up">
</form>
