<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Hot Startups</span>
			<li><a href="#"><%=Faker::App.name%></a></li>
			<li><a href="#"><%=Faker::App.name%></a></li>
			<li><a href="#"><%=Faker::App.name%></a></li>
			<li><a href="#"><%=Faker::App.name%></a></li>
		</ul>
	</li>
	<li>
		<span class="dropdown-subtitle">Help</span>
		<ul class="help">
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>
