<main>
  <section class="col-1-4">
    <h3 class="title"><a href="#">Launching the New React/Redux Curriculum</a></h3>
    <p class="author-cred">By APP ACADEMY INSTRUCTIONAL TEAM</p>
    <br>

    <ul>
      <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
      <li>The whole state of your app is stored in an object tree inside a single store. The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.</li>
    </ul>
    <br>
    <a class="comments-link" href="#"><%=Faker::Number.number(3)%> Comments</a>
  </section>

  <section class="col-1-3">
    <iframe src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
    <br>
    <br>
    <p>Warning: This video will make you want to change your career</p>

    <article class="articles">
      <h3><a href="#">Where Are They Now?</a></h3>
      <p class="author-cred">By APP ACADEMY ALUMNI</p>

      <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.

      <h3><a href="#">Cat Academy</a></h3>
      <p class="author-cred">By APP ACADEMY DIRECTOR OF PRODUCTS</p>

      <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
    </article>
  </section>

  <section class="col-1-3">

    <h3>The Opinion Pages</h3>
    <section>
      <p>Op-Ed Contributor</p>
      <h4><a href="#">Will Javascript ever be as easy as Ruby?</a></h4>
      <ul>
        <li><a href="#">Wong: 5 Tips for Effective Shouting</a></li>
        <li><a href="#">Wayne: Debugging Your Consciousness</a></li>
        <li><a href="#">Alfaro: What's Good?</a></li>
        <li><a href="#">Fiddler: What It's Like Wearing This Much Denim</a></li>
      </ul>
    </section>
    <section>
      <p>Operations</p>
      <h4><a href="#">App Academy New York Has A Brand New Office</a></h4>
      <p class="author-cred">By NY OPERATIONS</p>
      <br>
      <span>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</span>
      <img src="assets/new_office.jpg" alt="App Academy Office">
    </section>
  </section>
</main>
